
{% extends  "EyesBundle::layout_eyes_services_english.html.twig" %}

{% block css %}
{{ parent() }}
{% endblock %}

{% block titre %} {{ parent() }}
{% endblock %}



{% block central %}

  

<div class="partie2_services">


  
 	
  <img  src="{{asset("images/SITE.JPEG") }}"/>

 	    <div id="listeMembreConnectes">

    	   <p>Members on line</p>

        <ul>
         {% for unMembre in membre_services %}

         	<li> {{unMembre.login}} </li>

         {% endfor %}

         </ul>

     </div>


     
  </div>
    


{% endblock %}



  {% block javascript %}
 

    {{ parent() }}


  {% endblock %}

