
{% extends  "EyesBundle::layout_eyes_services.html.twig" %}

{% block css %}
{{ parent() }}
{% endblock %}

{% block titre %} {{ parent() }}
{% endblock %}



{% block central %}

  

<div class="partie2_services">


  <li>  <a href="{{ path("eyes_chat", {"login":membre[0].login} ) }}"> Rejoindre le forum pour échanger ou vendre un produit </a></li>
 	
  <img  src="{{asset("images/SITE.JPEG") }}"/>

 	    <div id="listeMembreConnectes">

    	   <p>Membre en ligne</p>

        <ul>
         {% for unMembre in membre_services %}

         	<li> {{unMembre.login}} </li>

         {% endfor %}

         </ul>

     </div>


     
  </div>
    


{% endblock %}



  {% block javascript %}
 

    {{ parent() }}


  {% endblock %}

